<!DOCTYPE html>
<html>
<head>
  <title>Jfk admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">menu</div>
		</div>
		<div class="row-fluid">
			<div class="span12 flash-container">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
			</div>
			<div class="span12"><%= yield %></div>
		</div>
	</div>
<%= debug(params) if Rails.env.development? %>

<% if signed_in? %>
you signed in 
	<% if admin_signed_in? %>
	with admin power
	<% end %>
<%= link_to "Sign out", signout_path, :method => :delete %><br/>
<% else %>
<%= link_to "Sign in", signin_path %><br/>
<% end %>

</body>
</html>
